<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowFullAccess</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Symphonic</string>
	<key>CFBundleIdentifier</key>
	<string>com.mindquirk.widget.symphonic</string>
	<key>CFBundleName</key>
	<string>Symphonic</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>CloseBoxInsetX</key>
	<integer>3</integer>
	<key>CloseBoxInsetY</key>
	<integer>3</integer>
	<key>Height</key>
	<integer>36</integer>
	<key>MainHTML</key>
	<string>symphonic.htm</string>
	<key>Width</key>
	<integer>272</integer>
</dict>
</plist>
